.popup#popup-callback
    .popup__wrapper(role="dialog")
        .popup__header
            h5(tabindex="0") Заявка на звонок
            button(aria-label="Закрыть окно").btn.popup__close
                +icon("close")
        .popup__body
            p.popup__disc Оставьте свои контакты, и мы обязательно вам перезвоним!
            form(name="callback" novalidate).form
                .form__item
                    label(for="callback-name").form__label
                        span.form__req Имя
                    +iconTooltip("question", "Поле должно состоять из букв (от 2 до 40)", "right")
                    input.form__control#callback-name(
                        type="text"
                        name="name"
						maxlength="40"
                        placeholder="Введите ваше имя"
						required)
                .form__item
                    label(for="callback-phone").form__label
                        span.form__req Номер телефона
                    +iconTooltip("question", "+7 (XXX) XXX-XX-XX", "right")
                    input.form__control.js__mask#callback-phone(
                        type="tel"
                        name="phone"
                        placeholder="Введите номер телефона"
						required)
                .form__item
                    input.form__checkbox#callback-agreement(
						type="checkbox"
						required)
                    label(for="callback-agreement").form__checkbox-label Согласие на обработку персональных данных в соответствии с #[a(href="user-agreement.html").trs Пользовательским соглашением]
                .form__submit
                    button(type="submit").btn.form__btn-submit #[+icon("envelope-fill")] Отправить
